<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link href="resources/js/bootstrap/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script src="resources/js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="resources/js/bootstrap/js/jquery.js"></script>
<script type="text/javascript" src="resources/js/layer/layer.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$("#qryBtn").click(function() {
			$("tr").removeAttr("style");
			var qryStr = $("#qryEdt").val();
			if (qryStr == "") {
				return;
			}
			selCell = $("td[name='deviceId']:contains(" + qryStr + ")");
			selCell.parent().css("background", "#7ab900");
		});

		//历史记录
		$("button[name='hisBtn']").click(function() {
			var btn = $(this).parent();
			var terminalId = btn.siblings("td[name='terminalId']");
			//alert("terminalId="+terminalId.text());
			$.getJSON("devicehis/"+terminalId.text(),function(d){
				var his = '<table class="table table-hover table-condensed" border="1">'+
				  "<th>设备机器名</th>"+
				  "<th>IP地址</th>"+
				  "<th>姓名</th>"+
				  "<th>工号</th>"+
				  "<th>登录时间</th>";
				$.each(d,function(key,val){
				    his = his + "<tr>";
				    his = his + "<td>"+val.machineName+"</td>";
				    his = his + "<td>"+val.ipAdress+"</td>";
					his = his + "<td>"+val.name+"</td>";
					his = his + "<td>"+val.gh+"</td>";
					his = his + "<td>"+val.loginTime+"</td>";
				    his = his + "</tr>";
				});
				his = his + "</table>";
				layer.open({
				    title : '<h5>历史信息</h5>',
  					type: 1,
  					skin: 'layui-layer-rim', //加上边框
  					area: ['600px', '400px'], //宽高
  					content: his
				});
			});
		});
	});
</script>

</head>
<body>
	<div class="container">
		<div class="page-header">
			<h2>4G设备状态查看</h2>
			<form class="form-search">
				<input type="text" placeholder="输入设备编号" id="qryEdt" />
				<button type="button" class="btn" id="qryBtn">查找</button>
			</form>
		</div>
	</div>
	<table class="table table-hover table-condensed" border="1">
		<tr>
			<th>设备类型</th>
			<th>设备呼号</th>
			<th>设备编号</th>
			<th>设备机器名</th>
			<th>IP地址</th>
			<th>工号</th>
			<th>姓名</th>
			<th>查看历史</th>
		</tr>
		<tr th:each="device : ${devicestatus}">
			<td th:text="${device.deviceType}" />
			<td th:text="${device.terminalId}" name="terminalId" />
			<td th:text="${device.deviceId}" name="deviceId" />
			<td th:text="${device.machineName}" />
			<td th:text="${device.ipAdress}" />
			<td th:text="${device.gh}" />
			<td th:text="${device.name}" />
			<td th:text="${device.loginTime}" />
			<td><button type="button" class="btn btn-info" name="hisBtn">历史记录</button>
			</td>
		</tr>
	</table>
	
	<layer>
		<div id="hisDialog">
		</div>
	</layer>
</body>
</html>